<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"><style>body{margin:0;background:{{ T.accent }};font:11px Verdana;color:#fff}td{font:11px Verdana;color:#fff}a{color:#fff}</style></head>
<body><table width="100%" height="52" cellpadding="6" cellspacing="0"><tr>
<td><font size="3"><b>{{ T.brand }}</b></font><br>{{ T.console }} &nbsp;|&nbsp; {{ T.version }}</td>
<td align="right">User: {{ s.user }} ({{ s.role }}) &nbsp;|&nbsp; Signed on {{ s.started }}<br>{{ now }} &nbsp;|&nbsp; <a href="/msc/logoff" target="_top">Sign Off</a></td>
</tr></table></body></html>
