<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style>body{margin:0;background:#e8e8e0;font:11px Verdana}td{font:11px Verdana}a{color:#000;text-decoration:none;display:block;padding:5px 10px}a:hover{background:#c8c8c0}.sec{background:#b8b8b0;font-weight:bold;padding:3px 10px}</style></head>
<body><table width="100%" cellpadding="0" cellspacing="0">
<tr><td class="sec">MAIN</td></tr>
<tr><td><a href="/msc/home" target="body">{{ T.nav_home }}</a></td></tr>
<tr><td class="sec">SERVICING</td></tr>
<tr><td><a href="/msc/inq" target="body">{{ T.nav_inq }}</a></td></tr>
<tr><td><a href="/msc/open" target="body">{{ T.nav_open }}</a></td></tr>
<tr><td class="sec">ADMIN</td></tr>
<tr><td><a href="/msc/reports" target="body">{{ T.nav_reports }}</a></td></tr>
</table></body></html>
